{% extends 'base.html' %}
{% block title %}رمز بازنشانی شد{% endblock title %}
{% block content %}
    <div class="container d-flex justify-content-center m-5">
        <div class="row" style="background-color: azure;border-radius: 20px;">
            <div class="col">
                <h1 class="my-3">رمز عبور بازنشانی شد</h1>
                <p>میدونم به زودی برمیگردی ;)</p>
                <a href="{% url 'login' %}" class="btn btn-success my-3" role="button">صفحه ورود</a>
            </div>
        </div>
    </div>
{% endblock content %}