{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}فراموشی رمز عبور{% endblock title %}
{% block content %}
    <div>
        <form class="container" method="POST">
            <h1 class="my-5"> رمز عبورت رو فراموش کردی؟</h1>
            <p>اشکالی نداره، آدرس ایمیلت رو اینجا وارد کن تا با هم بازنشانیش کنیم</p>
            {% csrf_token %}
            {{ form|crispy }}
            <input class="btn btn-success my-3" type="submit" value="برام ایمیل بفرست">
    </form>
    </div>
{% endblock content %}