{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}بازنشانی رمز ورود{% endblock title %}
{% block content %}
    <div class="container d-flex justify-content-center mt-5">
        <div class="row">
            <form class="col" method="POST">
        <h1 class="my-3">تنظیم رمز ورود جدید</h1>
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success my-3" type="submit" value="تایید تغییر رمز">
    </form>
        </div>
    </div>
{% endblock content %}