{% extends 'base.html' %}
    {% block title %}مدیریت تسک ها | خانه{% endblock %}
    {% block content %}
        <div class="container d-flex justify-content-center">
        {% if user.is_authenticated %}
            <div class="row">
                <div class="col-12">
                    <h1 class="my-5">سلام {{ user.username }}! خوش اومدی :)</h1>
                    <div class="row card p-5" style="background-color: azure;border-radius: 20px;">
                        <ul class="list-group">
                            {% if user.is_superuser %}
                                <a href="{% url 'admin:index' %}" class="list-group-item list-group-item-action my-2 text-center" style="border-radius: 10px;">ادمین</a>
                            {% endif %}
                            <a href="{% url 'categories' %}" class="list-group-item list-group-item-action my-2 text-center" style="border-radius: 10px;">دسته بندی ها</a>
                            <a href="{% url 'task_list' %}" class="list-group-item list-group-item-action my-2 text-center" style="border-radius: 10px;">تسک ها</a>
                        </ul>
                    </div>
                    <div class="m-5" >
                        <a href="{% url 'task_create' %}" class="btn btn-primary m-2 text-center" role="button">ایجاد تسک + </a>
                        <a href="{% url 'ctg_create' %}" class="btn btn-success m-2 text-center" role="button">ایجاد دسته +</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="card p-5 my-5">
                <h1>سلام دوست من! به سایت خودت خوش اومدی :)</h1>
                <div class="col-12 row p-5 m-2" style="background-color: aquamarine;border-radius: 10px;">
                    <h3 class="col-6"> اگه تازه واردی ثبت نام کن</h3>
                    <div class="col-6 text-center">
                        <a href="{% url 'signup' %}" class="btn btn-success" role="button">ثبت نام</a>
                    </div>
                </div>
                <div class="col-12 row p-5 m-2" style="background-color: cornflowerblue;border-radius: 10px;">
                    <h3 class="col-6">اگه حساب کاربری داری وارد شو</h3>
                    <div class="col-6 text-center">
                        <a href="{% url 'login' %}" class="btn btn-primary" role="button">ورود</a>
                    </div>
                </div>
            </div>
        {% endif %}
         </div>
    {% endblock %}