{% extends 'base.html' %}
{% block title %}لیست تسک ها{% endblock %}
{% block content %}
    <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">ردیف</th>
              <th scope="col">عنوان تسک</th>
              <th scope="col">دسته بندی ها</th>
              <th scope="col">عملیات</th>
            </tr>
          </thead>
          <tbody>
            {% for task in object_list %}
                <tr>
                  <th scope="row">{{ task.pk }}</th>
                  <td>{{ task.title }}</td>
                  <td>
                      {% for category in task.category.all %}
                          <a href="{% url 'category_tasks_list' category.pk %}">{{ category.name }}</a>|
                      {% endfor %}
                  </td>
                  <td>
                      <div class="dropdown show">
                      <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        انتخاب کنید
                      </a>

                      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="{% url 'delete_task' task.pk %}">حذف</a>
                        <a class="dropdown-item" href="{% url 'edit_task' task.pk %}">ویرایش</a>
                      </div>
                    </div>
                  </td>
                </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}